{% load static %}
{% static "image" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>JARVIS</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static '/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="{% static '/css/leadmark.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home"  >

    <!-- page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#">
            <img src="{% static '/image/k.png' %}" alt="">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                     
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Skill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    <!-- Page Header -->
    <header class="header" >
        <div class="overlay">
            <h1 class="title">Hello ! <br>This is MUTHURAJA</h1> 
        </div>  
        <div class="shape">
            <svg viewBox="0 0 1500 200">
                <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z"/>
            </svg>
        </div>  
        <div class="mouse-icon"><div class="wheel"></div></div>
    </header>
    <!-- End Of Page Header -->

    <!-- Service Section -->
    <section  id="service" class="section pt-0">
        <div class="container">
            <h6 class="section-title text-center">Career Object</h6>
            <h6 class="section-subtitle text-center mb-5 pb-3">PYTHON SOFTWARE DEVELOPER</h6>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">01</small>
                            <h5 class="card-title mt-3"> Python <h5>
                            <p class="mb-0">wished to work with lots of libraries and will  Known advance data structure and solve complex codes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">02</small>
                            <h5 class="card-title mt-3">Django<h5>
                            <p class="mb-0">I love This Framework because easy to use and MVT, API, ORM, Templates, and DBMS.every thing easy here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">03</small>
                            <h5 class="card-title mt-3">Aim<h5>
                            <p class="mb-0">Looking forward to work in an organization with a challenging position to expand and utilize my learning, Developer skills and Code
                                knowledge.excellent communication skills and have an eye for detail. Flexible to work in any environment as required.
                                  </p>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </section>
    <!-- End OF Service Section -->

    <!-- About ME Section -->
    <section class="section" id="about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">About  <br> Muthu Raja N</h6>
                    <h6 class="section-subtitle mb-4">Becoming a Software developer </h6>
                    <p>Hello, everyone! <br>You already Know My Name.<br>
                    Now I'm Share My Profile<br>I have completed MCA with 81%  at Nehru Institute of Information Technology and Management in Coimbatore</p>
                    <img src="{% static '/image/R.jpg' %}" alt="" class="w-100 mt-3 shadow-sm">
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-6">
                            <img src="{% static '/image/clg.jpg' %}" alt="" class="w-100 shadow-sm">
                        </div>
                        <div class="col-6">
                            <img src="{% static '/image/muthu.jpg' %}" alt="" class="w-100 shadow-sm">
                        </div>
                        <div class="col-12 mt-4">
                            <p>This is MY Python Django web development project and it will Represent My Profile.
                                I had done the PYTHON project. The project name was "MY assistant" and one internship at Nexware </p>
                            <p><b>I have certificates in Udumy, GreatLearning, and Hacker Rank </b><br>
                            </p>
                            <p>Completed Python course from Geeks For Geeks.<br>Solved 100+ problems in Geeks for Geeks and four stares in Hacker Rank</p>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </section>
    <!-- End OF About Me Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="section portfolio-section">
        <div class="container">
            <h6 class="section-title text-center">Projects</h6>
            <h6 class="section-subtitle mb-5 text-center">Develoepd Project  By My Self</h6>
            <div class="filters">
                <a href="#" data-filter=".new" class="active">
                <b>
                   Home
                </b>
                </a>
                <a href="#" data-filter=".advertising">
                    Profile
                </a>
                <a href="#" data-filter=".branding">
                    Assistant
                </a>
                <a href="#" data-filter=".web">
                    Intern
                </a>
            </div>
            <div class="portfolio-container"> 
                <div class="col-md-6 col-lg-4 web new">
                    <div class="portfolio-item">
                        <img src="{% static '/image/intern2.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/intern2.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">Internship</h6>
                                <p class="subtitle">Virtual Assistant minic model cloud data security</p>
                            </div>
                        </div>   
                    </div>             
                </div>
                <div class="col-md-6 col-lg-4 web new">
                    <div class="portfolio-item">
                        <img src="{% static '/image/intern3.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/intern3.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">Internship</h6>
                                <p class="subtitle">Virtual Assistant minic model cloud data security</p>
                            </div>
                        </div> 
                    </div>                         
                </div>
                <div class="col-md-6 col-lg-4 advertising new">
                    <div class="portfolio-item">
                        <img src="{% static '/image/myprofile2.png' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                         
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/myprofile2.png' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Profile</h6>
                                <p class="subtitle">Python,Django Web development</p>
                            </div>
                        </div>    
                    </div>              
                </div> 
                <div class="col-md-6 col-lg-4 web">
                    <div class="portfolio-item">
                        <img src="{% static '/image/intern1.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/intern1.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">Internship</h6>
                                <p class="subtitle">Virtual Assistant minic model cloud data security</p>
                            </div>
                        </div>
                    </div>                                                     
                </div>

                <div class="col-md-6 col-lg-4 advertising"> 
                    <div class="portfolio-item">
                        <img src="{% static '/image/myprofile1.png' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                               
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/myprofile1.png' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Profile</h6>
                                <p class="subtitle">Python,Django Web development</p>
                            </div>
                        </div>
                    </div>                                                       
                </div> 
                <div class="col-md-6 col-lg-4 web new">
                    <div class="portfolio-item">
                        <img src="{% static '/image/intern4.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                       <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/intern4.jpg' %}" ></a>
                            <div class="text-holder">
                                <h6 class="title">Internship</h6>
                                <p class="subtitle">Virtual Assistant minic model cloud data security</p>
                            </div>
                        </div>
                    </div>                                                     
                </div>
                <div class="col-md-6 col-lg-4 advertising new">
                    <div class="portfolio-item">
                        <img src="{% static '/image/myprofile3.png' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">       
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/myprofile3.png' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Profile</h6>
                                <p class="subtitle">Python,Django Web development</p>
                            </div>
                        </div>
                    </div>                                                       
                </div> 
                <div class="col-md-6 col-lg-4 advertising new"> 
                    <div class="portfolio-item">
                        <img src="{%static '/image/myprofile4.png' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/myprofile4.png' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Profile</h6>
                                <p class="subtitle">Python,Django Web development</p>
                            </div>
                        </div>
                    </div>
                            
                </div> 
                <div class="col-md-6 col-lg-4 branding new">
                    <div class="portfolio-item">
                        <img src="{%static '/image/assitant1.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                        
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/assitant1.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Assistant</h6>
                                <p class="subtitle">Python AI</p>
                            </div>
                        </div> 
                    </div>
                </div> 
                <div class="col-md-6 col-lg-4 branding">
                    <div class="portfolio-item">
                        <img src="{%static '/image/assitant2.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/assitant2.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Assistant</h6>
                                <p class="subtitle">Python AI</p>
                            </div>
                        </div>
                    </div>                                                     
                </div> 
                <div class="col-md-6 col-lg-4 branding new">
                    <div class="portfolio-item">
                        <img src="{% static '/image/assitant3.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">   
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/assitant3.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Assistant</h6>
                                <p class="subtitle">Python AI</p>
                            </div>
                        </div>
                    </div>                                                    
                </div> 
                <div class="col-md-6 col-lg-4 branding">
                    <div class="portfolio-item">
                        <img src="{% static '/image/assiatnt4.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/assiatnt4.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Assistant</h6>
                                <p class="subtitle">Python AI</p>
                            </div>
                        </div>
                    </div>                                                      
                </div> 
                <div class="col-md-6 col-lg-4 branding">
                    <div class="portfolio-item">
                        <img src="{% static '/image/assitant5.jpg' %}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">          
                        <div class="content-holder">
                            <a class="img-popup" href="{% static '/image/assitant5.jpg' %}"></a>
                            <div class="text-holder">
                                <h6 class="title">MY Assistant</h6>
                                <p class="subtitle">Python AI</p>
                            </div>
                        </div>
                    </div>                                                   
                </div>
            </div>   
        </div>            
    </section>
    <!-- End of portfolio section -->

    <!-- Blog Section -->
    <section class="section" id="blog">
        <div class="container">
            <h6 class="section-title mb-0 text-center">Skills & certificates</h6>
            <h6 class="section-subtitle mb-5 text-center">Architecto provident deserunt eveniet libero</h6>

            <div class="row">
                <div class="col-md-4">
                    <div class="card border-0 mb-4">
                        <img src="{%static '/image/geeks.jpg' %}" alt="" class="card-img-top w-100">
                        <div class="card-body">                         
                            <h6 class="card-title">GEEKS FOR GEEKS</h6>
                            <p>I started to learning  Python Basic,Intermediate and advance Topic  </p>
                            <a href="https://auth.geeksforgeeks.org/user/muthuraj0703/" class="small text-muted">Geeks Profile Link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 mb-4">
                        <img src="{%static '/image/Hacker rank.jpg' %}" alt="" class="card-img-top w-100">
                        <div class="card-body">                         
                            <h6 class="card-title"> Hacker Rank</h5>
                            <p> Here slove codes and got a certificate Python basic</p>
                            <a href="https://www.hackerrank.com/certificates/iframe/c646c10146e0" class="small text-muted">Certificate link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 mb-4">
                        <img src="{%static '/image/Open CV.jpg' %}" alt="" class="card-img-top w-100">
                        <div class="card-body">                         
                            <h6 class="card-title">Greate Learning</h6>
                            <p>PYthon OpenCV</p>
                            <a href="https://olympus.mygreatlearning.com/certificates" class="small text-muted">Certificate link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 mb-4">
                        <img src="{%static '/image/udumy.jpg' %}" alt="" class="card-img-top w-100">
                        <div class="card-body">                         
                            <h6 class="card-title">Udemy</h6>
                            <p>Python for Programmers</p>
                            <a href="https://www.udemy.com/certificate/UC-e1707797-edc7-4855-a80f-6d3ebabbe9f3/" class="small text-muted">Certificate link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-0 mb-4">
                        <img src="{%static '/image/Function.jpg' %}" alt="" class="card-img-top w-100">
                        <div class="card-body">                         
                            <h6 class="card-title"> GreatLearning</h5>
                            <p>Python Function</p>
                            <a href="https://olympus.mygreatlearning.com/courses/53844/certificate" class="small text-muted">Certificate link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Blog Section -->
    <!-- Contact Section -->
    <section id="contact" class="section has-img-bg pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 my-3">
                    <h6 class="mb-0">Phone</h6>
                    <p class="mb-4">7538825539</p>

                    <h6 class="mb-0">Address</h6>
                    <p class="mb-4">BTM 2 Stage,Bangalore</p>

                    <h6 class="mb-0">Email</h6>
                    <p class="mb-0">Muthurajpostbox@gmail.com</p> 
                    <p></p>
                </div>
                <div class="col-md-7">
                    {% include  'computer_temp/form.html'  %} 
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
            <!-- Page Footer -->
            <footer class="mt-5 py-4 border-top border-secondary">
                <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>, Anonymous JARVIS<a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"> Muthuraja </a>  All rights reserved </p>     
            </footer>
            <!-- End of Page Footer -->  
        </div>
    </section>
	
	<!-- core  -->
    <script src="{% static '/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static '/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static '/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Isotope -->
    <script src="{% static '/vendors/isotope/isotope.pkgd.js' %}"></script>

    <!-- LeadMark js -->
    <script src="{% static '/js/leadmark.js' %}"></script>
</body>
</html>
